.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Work Sans", sans-serif;
  color: #213f7d;
  gap: 15px;

  .user-card-container {
    background: #ffffff;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    height: 160px;
    width: 230px;
    margin: 3rem 0;
    display: flex;

    .user-card-elements {
      display: flex;
      margin: 1.3rem 0 0 1.3rem;
      flex-direction: column;
      justify-content: flex-start;
      gap: 8px;

      .user-text {
        font-size: 12px;
        color: #545f7d;
      }

      .user-number {
        font-size: 20px;
        font-weight: 600;
        color: #213f7d;
      }
    }
  }

  ul {
    list-style: none;
  }
}
