.side-bar-container {
  margin: 3rem;
  font-family: 'Work-sans';

  .organizations-item {
    margin-bottom: 3.3rem;
  }

  .dashboard-item {
    margin-bottom: 1rem;
  }

  li {
    list-style: none;
  }

  .side-bar-items {
    display: flex;
    gap: 12px;
    cursor: pointer;
  }

  .side-bar-items-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .side-bar-subheading {
    margin: 2.5rem 0 -1.5rem 0;
    text-transform: uppercase;
  }
}
