.status-container {
  position: absolute;
  top: 405px;
  right: -30px;
  z-index: 1;

  width: 170px;
  height: auto;
  background: #fff;
  border: 1px solid rgba(84, 95, 125, 0.4);
  border-radius: 4px;
  padding: 1rem;
  margin: 2rem;

  .status-item {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    cursor: pointer;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #545f7d;
  }
}
